{% extends 'base.html' %}
{% load wagtailimages_tags wagtailcore_tags %}

{% comment %} {% load static menus_tags %} {% endcomment %}
{% comment %} {% get_menu "navigation-bar" as navigation %} {% endcomment %}

{% load static %}

{% block extra_css %}

{% endblock %}

{% block content %}

    <div class="head-container">

        <div class="logo-container">
            <img src="{% static 'assets/logo-new.png' %}" alt="#" width=500px>
            <p>coming soon to a screen near you.</p>
        </div>
    </div>

    <div class="social">
        <a href="https://www.facebook.com/We-Live-In-A-Society-108396771034748"><i class="fab fa-facebook-square"></i></a>
        <a href="https://www.instagram.com/wliasoc/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        <a href="https://twitter.com/WLIASoc"><i class="fa fa-twitter" aria-hidden="true"></i></a>
    </div>

{% endblock %}

