{% extends 'base.html' %}
{% load wagtailimages_tags wagtailcore_tags %}

{% comment %} {% load static menus_tags %} {% endcomment %}
{% comment %} {% get_menu "navigation-bar" as navigation %} {% endcomment %}

{% load static %}

{% block extra_css %}

{% endblock %} 

{% block content %}

    <div class="head-container">
        <nav class="nav1" id="nav1">
            <a class="navlink" href="{% slugurl 'home' %}" id="navlink1" style="border-color: #001DB8;">home</a>
            <a class="navlink" href="{% slugurl 'artists' %}" id="navlink2">artists</a>
            <a class="navlink" href="{% slugurl 'shop' %}" id="navlink2">shop</a>
            {% comment %} <a class="navlink" href="{% slugurl 'collections' %}" id="navlink3">collections</a> {% endcomment %}
            <a class="navlink" href="{% slugurl 'home' %}" id="navlink3">collections</a>
        </nav>
        <nav class="nav2 flex-column">
            <a class="navlink" href="{% slugurl 'home' %}" id="navlink1" style="border-color: #001DB8;">home</a>
            <a class="navlink" href="{% slugurl 'artists' %}" id="navlink2">artists</a>
            <a class="navlink" href="{% slugurl 'shop' %}" id="navlink2">shop</a>
            {% comment %} <a class="navlink" href="{% slugurl 'collections' %}" id="navlink3">collections</a> {% endcomment %}
            <a class="navlink" href="{% slugurl 'home' %}" id="navlink3">collections</a>
        </nav>
    </div>

    <div class="logo-container">
        <span href="#" class="logo">
            <img src="{% static 'assets/logo-new.png' %}" alt="#">
        </span> 
        <h2>{{ page.collection_name }} COLLECTION</h1>
    </div>
    

    <section class="frame1">
        <div id="feature" class="feature">
            <div class="feature-container">
                <div class="feature-collage">
                    {% image page.section1 max-2000x2000 as S1 %}
                    <img src="{{ S1.url }}" alt="" id="lift">
                </div>
                <div class="fixed-feature">
                    {% image page.section2 max-2000x2000 as S2 %}
                    <img src="{{ S2.url }}" alt="">
                </div>
            </div>

        </div>
        <div class="feature-mobile">
            <div id="feature" class="feature-container">
                <div class="feature-collage">
                    {% image page.section1_mobile max-2000x2000 as S1 %}
                    <img src="{{ S1.url }}" alt="" id="lift">
                </div>
                <div class="fixed-feature">
                    {% image page.section2 max-2000x2000 as S2 %}
                    <img src="{{ S2.url }}" alt="">
                </div>
            </div>

        </div>
    </section>

    <section class="frame2">
        <div class="about-container">
            <div class="about">
                <h1>we live in a society</h1>
                <p> {{ page.about|richtext }} </p>
            </div>
        </div>
        <div class="social">
            <a href="https://www.facebook.com/We-Live-In-A-Society-108396771034748"><i class="fab fa-facebook-square"></i></a>
            <a href="https://www.instagram.com/wliasoc/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            <a href="https://twitter.com/WLIASoc"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        </div>
    </section>

{% endblock %}

