{% extends 'base.html' %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% comment %} {% load static menus_tags %} {% endcomment %}
{% comment %} {% get_menu "navigation-bar" as navigation %} {% endcomment %}

{% load static %}

{% block extra_css %}

{% endblock %}

{% block content %}

    <div class="head-container">
        <nav class="nav">
            <a class="navlink" href="{% slugurl 'home' %}" id="navlink1">home</a>
            <a class="navlink" href="{% slugurl 'artists' %}" id="navlink2" style="border-color: #001DB8;">artists</a>
            <a class="navlink" href="{% slugurl 'collections' %}" id="navlink3">collections</a>
        </nav>
    </div>

  {% comment %} ========================================================================================================================================== {% endcomment %}

{% for artist in self.artists.all %}
    {% if not forloop.counter|divisibleby:2 %}
        <div class="artist-frame1">
            <a href="" data-toggle="modal" data-target="#modal{{ forloop.counter }}" style="text-decoration: none;">
                <div class="artist-imgs">
                    {% image artist.artistDeets.profile max-500x500 as profile %}
                    <img src="{{ profile.url }}" alt="" id="sun">
                    {% image artist.artistDeets.moon max-500x500 as moon %}
                    <img src="{{ moon.url }}" alt="" id="moon">
                    {% image artist.artistDeets.mars max-500x500 as mars %}
                    <img src="{{ mars.url }}" alt="" id="mars">
                    {% image artist.artistDeets.jupiter max-500x500 as jupiter %}
                    <img src="{{ jupiter.url}}" alt="" id="jupiter">
                </div>
                <div class="caption">
                    <h2>{{ artist.artistDeets.artist_name }}</h2>
                    <p>{{ artist.artistDeets.caption }}</p>
                </div>
            </a>
        </div> 
    {% elif forloop.counter|divisibleby:2 %}
        <div class="artist-frame2">
            <div class="container2">
                <a href="" data-toggle="modal" data-target="#modal{{ forloop.counter }}" style="text-decoration: none;">
                    <div class="artist-imgs2">
                        {% image artist.artistDeets.profile max-500x500 as profile %}
                        <img src="{{ profile.url }}" alt="" id="sun">
                        {% image artist.artistDeets.moon max-500x500 as moon %}
                        <img src="{{ moon.url }}" alt="" id="moon">
                        {% image artist.artistDeets.mars max-500x500 as mars %}
                        <img src="{{ mars.url }}" alt="" id="mars">
                        {% image artist.artistDeets.jupiter max-500x500 as jupiter %}
                        <img src="{{ jupiter.url}}" alt="" id="jupiter">
                    </div>
                    <div class="caption2">
                        <h2>{{ artist.artistDeets.artist_name }}</h2>
                        <p>{{ artist.artistDeets.caption }}</p>
                    </div>
                </a>
            </div>
        </div>
     {% endif %}

    <div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myHugeModalLabel" aria-hidden="true" id="modal{{ forloop.counter }}">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div data-spy="artist{{ forloop.counter }}" data-target="options" data-offset="0" class="form">
                    {% for design in artist.artistDeets.designs.all %}
                        
                        <span id="{{artist}}{{ forloop.counter }}"></span>
                        {% image design.designDeets.display max-500x500 as display %}
                        <a href="" id="product"><img src="{{ display.url }}" alt=""></a>

                        <div class="details">
                            <h2>{{ design.designDeets.design_name }}</h2><br>
                            <p>{{ design.designDeets.story }}</p>
                        </div>
                    {% endfor %}
                </div>
                <div id="options">
                    <ul class="nav nav-pills">
                        {% for design in artist.artistDeets.designs.all %}
                            <li class="nav-item" id="thumb-container">
                                {% image  design.designDeets.display max-500x500 as display %}
                                <a class="nav-link" href="#{{artist}}{{ forloop.counter }}"><img src="{{ display.url }}" alt="" id="thumb"></a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endfor %}


{% comment %} ========================================================================================================================================== {% endcomment %}
{% comment %} 
    <div class="artist-frame2">

        <a href="" data-toggle="modal" data-target=".bd-example-modal-xl">
            <div class="container2">
                <div class="caption">
                    <h2>[ARTIST NAME]</h2>
                    <p>[artist description]</p>
                </div>

                <div class="artist-imgs">
                    <img src="" alt="" id="sun">
                    <img src="" alt="" id="moon">
                    <img src="" alt="" id="mars">
                    <img src="" alt="" id="jupiter">
                </div>
            </div>
        </a>

    </div> 


{% endcomment %}

{% endblock %}