/* ======artists====== */


/* artist-frame1 */

.artist-frame1 {
    width: 100%;
    height: 600px;
    overflow: hidden;
}

.artist-frame1>a {
    display: flex;
    flex-direction: row;
    float: left;
    width: 100%;
    height: 500px;
    margin: 0 0 0 0%;
    padding-top: 60px;
    text-decoration: none;
}
.bigpic{
    width: 600px;
    height: 650px;
    margin: -100px 0px 0 0px;
    background-color: blue;
}
#bigpic{
    opacity: 0.35;
    width: 600px;
    height: auto;
}
.artist-imgs {
    position: absolute;
    width: 300px;
    height: 27.6%;
    margin: auto 0px auto 250px;
    margin-top: 100px;
}
.caption {
    position: absolute;
    width: 500px;
    height: 260px;
    margin: 140px 600px auto;
    color: black;
    transform: translate(50px, 0);
    overflow: hidden;
}

.button {
    position: absolute;
    width: 90px;
    height: 30px;
    margin: 50px 600px 0;
    border: 1px solid black;
    transform: translate(50px, 0);
    border-radius: 10px;
}
.design {
    position: absolute;
    width: 500px;
    height: 260px;
    margin: 350px 600px auto;
    color: black;
    transform: translate(50px, 0);
    overflow: hidden;
}

#sun {
    position: absolute;
    height: auto;
    width: 200px;
    border-radius: 0px;
    overflow: hidden;
}

#moon {
    position: absolute;
    height: auto;
    width: 140px;
    transform: translate(-110px, -100px);
    border-radius: 0px;
}

#mars {
    position: absolute;
    height: 50px;
    width: 50px;
    transform: translate(210px, -60px);
    border-radius: 0px;
}

#jupiter {
    position: absolute;
    height: auto;
    width: 70px;
    transform: translate(240px, 110px);
    border-radius: 0px;
}

.caption>p {
    padding-top: 10px;
    color: black;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
}


/* modal */
.modal-dialog{
    border-radius: 100px;
}

.modal-content {
    display: flex;
    flex-direction: row;
    height: 651px;
    margin: 135px auto auto;
    padding: 72px 79px 0;
    border-radius: 50px !important; 
}

.modal-content>a {
    position: absolute;
    font-size: 30px;
    transform: translate(-50px, -50px);
}

.modal-content>h3 {
    color: red;
    font-size: 10px;
}

.form {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 461px;
    width: 100%;
    margin: .5rem 5% auto 0;
    overflow: hidden;

}

.form>h4 {
    height: 0;
}

#product {
    position: absolute;
    width: 300px;
    height: 575px;
}

#product>img {
    width: 300px;
    height: auto;
}

#product>div {
    position: absolute;
    width: 300px;
    height: auto;
}

#product>div:hover {
    visibility: visible;
}

#product>div>h3 {
    color: white;
    height: 575px;
    padding: 215px 30px 0;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
}

#product>div>h3:hover {
    opacity: unset;
}
.order-here{
    position: absolute;
    width: 300px;
    margin: 420px -50px 0;
    text-align: center;
    background-color: blue;
    transform: translate(50px, 0);
}
.order-here>a>h3{
    color: white;
}
.details {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 461px;
    padding-top: 30px;
}

.details>h2 {
    position: absolute;
    transform: translate(330px, 0px);
}

.details>h3 {
    position: absolute;
    transform: translate(330px, 45px);
    font-size: 10px;
    color: red;
}

.details>p {
    position: absolute;
    height: 80%;
    transform: translate(330px, 65px);
    margin: 0 52% 0 0;
    font-size: 90%;
    text-align: justify;
}

#thumb-container {
    margin: 0 -10px 0 0;
    transform: translate(330px, -100px);
}

#thumb {
    width: 50px;
    height: 50px;
}


/* /artist-frame1 */

.box{
    width: 100%;
    height: 50px;
    background-color: black;
}
.box>p{
    padding-top: 5px;
    color: white;
    text-align: center;
}


/* artist-frame2 */

.artist-frame2 {
    width: 100%;
    height: 600px;
    padding: 0 10% 0px 2%;
    overflow: hidden;
}

.artist-frame2>a {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 500px;
    margin: 0 0 0 0;
    color: black;
    overflow: hidden;
    text-decoration: none;
    border: 1px solid black;

}

.artist-frame2>.container2 {
    display: inline-block;
    width: 100%;
    height: fit-content;
    margin: 0% 0% 0% 0%;
    padding-top: 0px;
    color: #411CD6;
    overflow: visible;
}

.container2>a {
    float: right;
    display: flex;
    flex-direction: row;
    width: 70%;
    height: fit-content;
    margin: 0 300px;
    padding: 80px 60px 0;
}

.button2 {
    position: absolute;
    width: 90px;
    height: 30px;
    margin: 20px 50px 0;
    border: 1px solid black;
    border-radius: 10px;
}

.caption2 {
    position: absolute;
    width: 500px;
    height: 260px;
    color: black;
    float: left;
    margin: 70px 50px 0;
    overflow: hidden;
}
.design2 {
    position: absolute;
    width: 500px;
    height: 260px;
    color: black;
    float: left;
    margin: 260px 50px 0;
    overflow: hidden;
}

.caption2>p {
    padding-top: 10px;
    color: black;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
}
.bigpic2{
    width: 600px;
    height: 650PX;
    margin-left: 90%;
    margin-bottom: 300px;
    transform: translate(0, -100px);
    background-color: blue;
}
#bigpic2{
    opacity: 0.35;
    width: 600px;
    height: auto;
}

.artist-imgs2 {
    position: absolute;
    width: 300px;
    height: 50px;
    margin-left: 60%;
    margin-top: 100px;
}


/* /artist-frame2 */


/* ======/artists====== */