* {
    font-style: Roboto;
}
/* 
Navbar 22
Landing Page 72
    Logo 75
    Frame 1 127
    Frame 2 164
Artists Page 224
    Artist 1 227
    Artist 2 303
    Modal Content 409
Mobile Responsiveness 481
    Small laptops and smaller 487
    Tablets and smaller 555
Extra Responsiveness 745
    Small laptops to Tablet 747
    Tablet to large mobile 761
    Large mobile and smaller 796
    Medium mobile and smaller 816
*/


/* ===nav=== */

nav {
    margin: 44px 5.5% 164px;
}

.nav1 {
    display: inline;
    padding-top: 5%;
}

.nav2 {
    display: none;
}

.navlink {
    margin: 8px 5.4% 44px 0;
    width: 30px;
    padding-left: none !important;
    font-style: Roboto;
    font-weight: normal;
    line-height: 16px;
    color: black;
    padding-bottom: 10px;
    border-bottom: 4.5px solid white;
}

#navlink1 {
    width: 40px;
}

#navlink2 {
    width: 45px;
}

#navlink3 {
    width: 75px;
}

.navlink:hover {
    color: black;
    text-decoration: none;
    color: #001DB8;
}

.head-container {
    position: sticky;
    height: 100px;
    padding-top: 30px;
}


/* ===landing=== */


/* logo */

.logo-container {
    position: relative;
    z-index: 1;
    width: 100%;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 2%;
}

.logo-container>h1 {
    position: absolute;
    top: 45%;
    width: 100%;
    align-content: center;
    font-size: 190%;
    z-index: -1;
}

.logo {
    display: flex;
    z-index: 1;
    flex-direction: column;
    width: 60%;
    height: auto;
    margin: 0 auto 17px auto;
    text-align: center;
    background-color: white;
}

.logo:active {
    visibility: hidden;
}

.logo>img {
    margin: 0 auto 17px auto;
    width: 30%;
    height: auto;
}

.soc-container {
    width: 100%;
    z-index: 1;
    margin: 25px auto 0;
    text-align: center;
}


/* /logo */


/* frame1 */

.frame1 {

    width: 100%;
    height: 50%;
    padding-top: 35px;
    text-align: center;
}

.feature>h1 {
    margin-bottom: 65px;
    font-style: Roboto;
    font-weight: normal;
    font-size: 30px;
    line-height: 37px;
    color: #001DB8;
}

.feature-imgs {
    display: flex;
    flex-direction: row;
}

.feature-imgs>img {
    margin: 0 auto;
    width: 15%;
}

#lift {
    transform: translate(0, -15%);
}


/* /frame1 */


/* frame2 */

.frame2 {

    height: 50%;
    width: 100%;
    padding-top: 5%;
    text-align: center;
    background-color: black;
    margin-top: 15%;
    overflow: hidden;
}

.about {
    display: flex;
    flex-direction: column;
    margin: 5% auto;
    width: 60%;
    color: white;
}

.about>img {
    width: 310px;
    height: 32px;
    margin: 50px auto;
}

.about>p {
    margin-top: 3%;
    text-align: left;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 50px;
    text-align: justify;
    text-justify: inter-word;
}

.social {
    position: relative;
    float: right;
    display: flex;
    flex-direction: row;
    margin: 0 200px 0 0;
    width: 50px;
    font-size: 40px;
}

.social>a {
    margin: 25px 15px;
    color: white;
}


/* /frame2 */


/* ===/landing=== */


/* ===artists=== */


/* artist-frame1 */

.artist-frame1 {
    width: 100%;
    height: 600px;
    padding: 0 8% 0px 7%;
}

.artist-frame1>a {
    display: flex;
    flex-direction: row;
    float: left;
    width: 100%;
    height: 500px;
    margin: 0 0 0 0%;
    padding-top: 60px;
    text-decoration: none;
}

.artist-imgs {
    width: 300px;
    height: 27.6%;
    margin: auto 150px auto 193px;
}

.caption {
    width: 500px;
    height: 260px;
    margin: 140px 0 auto;
    color: black;
    transform: translate(50px, 0);
    overflow: hidden;
}

#sun {
    position: absolute;
    height: 250px;
    width: 200px;
    border-radius: 0px;
    overflow: hidden;
}

#moon {
    position: absolute;
    height: 140px;
    width: 140px;
    transform: translate(-110px, -100px);
    border-radius: 0px;
}

#mars {
    position: absolute;
    height: 50px;
    width: 50px;
    transform: translate(210px, -60px);
    border-radius: 0px;
}

#jupiter {
    position: absolute;
    height: 70px;
    width: 70px;
    transform: translate(240px, 110px);
    border-radius: 0px;
}

.caption>p {
    padding-top: 10px;
    color: black;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
}

/* ===modal=== */

.modal-content {
    display: flex;
    flex-direction: row;
    height: 651px;
    margin: 135px auto auto;
    padding: 72px 79px 0;
}

.modal-content>a {
    position: absolute;
    font-size: 30px;
    transform: translate(-50px, -50px);
}

.modal-content>h3 {
    color: red;
    font-size: 10px;
}

.form {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 461px;
    width: 100%;
    margin: .5rem 5% auto 0;
    overflow: hidden;
}

.form>h4 {
    height: 0;
}

#product {
    width: 300px;
}

#product>img {
    width: 300px;
    height: 575px;
}

#product>div {
    position: absolute;
    width: 300px;
    height: 575px;
}

#product>div:hover {
    visibility: visible;
}

#product>div>h3 {
    color: white;
    height: 575px;
    padding: 215px 30px 0;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
}

#product>div>h3:hover {
    opacity: unset;
}

.details {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 461px;
    padding-top: 30px;
}

.details>h2 {
    transform: translate(330px, -610px);
}

.details>h3 {
    transform: translate(330px, -630px);
    font-size: 10px;
    color: red;
}

.details>p {
    height: 80%;
    transform: translate(330px, -620px);
    margin: 0 52% 0 0;
    font-size: 90%;
    text-align: justify;
}

#thumb-container {
    margin: 0 -10px 0 0;
    transform: translate(330px, -100px);
}

#thumb {
    width: 50px;
    height: 50px;
}


/* /artist-frame1 */


/* artist-frame2 */

.artist-frame2 {
    width: 100%;
    height: 450px;
    padding: 0 10% 0px 2%;
    overflow: hidden;
}

.artist-frame2>a {
    display: flex;
    float: right;
    flex-direction: row;
    width: 100%;
    height: 500px;
    margin: 0 0 0 0;
    color: black;
    overflow: hidden;
    text-decoration: none;
}

.artist-frame2>.container2 {
    display: inline-block;
    width: 100%;
    height: fit-content;
    margin: 0% 0% 0% 0%;
    padding-top: 70px;
    color: #001DB8;
    overflow: visible;
    text-align: right;
}

.container2>a {
    float: right;
    display: flex;
    flex-direction: row;
    width: 70%;
    height: fit-content;
    margin: 0 300px;
    padding: 80px 60px 0;
}

.caption2 {
    width: 500px;
    height: 260px;
    color: black;
    float: left;
    margin: 0 50px 0;
    transform: translate(50px, 0px);
    overflow: hidden;
}

.caption2>p {
    padding-top: 10px;
    color: black;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
}

.artist-imgs2 {
    width: 300px;
    height: 50px;
    float: right;
    margin-left: 30px;
}


/* /artist-frame2 */


/* ===/mobile responsiveness=== */

/* ===less than 992px (small laptops)=== */

@media screen and (max-width: 992px) {
    .modal-content {
        height: 700px;
        margin: 20% 0 0 0;
        padding: 69px 73px 0;
        align-content: center;
    }
    .form {
        height: 100%;
        width: 100%;
        margin: .5rem 0 auto 0;
    }
    #product {
        width: 100%;
        padding-bottom: 80px;
        border-bottom: 1px solid gray;
        text-align: center;
    }
    #product>img {
        width: 60%;
        height: 100%;
        margin: 0 20%;
    }
    #product>#instruct {
        display: none;
    }
    #product>.order-mob {
        background-color: #001DB8;
        color: white;
        height: 30px;
        width: 100px;
        margin: 20px 35%;
        padding-top: 2px;
        border-radius: 12px;
    }
    .details {
        height: 100%;
        padding-top: 10px;
    }
    .details>h2 {
        transform: none;
        font-size: 150%;
    }
    .details>h3 {
        display: none;
    }
    .details>p {
        height: 340px;
        margin: -25px 0 0 0;
        transform: none;
        font-size: 60%;
        line-height: 17px;
    }
    #thumb-container {
        transform: none;
        padding-top: 20px;
    }
    #thumb {
        margin-bottom: 20px;
    }
    #options>ul {
        width: fit-content;
        margin: 0 auto !important;
    }
}

/* ===tablets=== */

@media only screen and (max-width: 769px) {
    .head-container {
        height: fit-content;
    }
    nav {
        margin: 0 0 0;
        padding-top: 5%;
    }
    .nav1 {
        display: none;
    }
    .nav2 {
        display: flex;
        padding-top: 20px;
        padding-bottom: 20px
    }
    .navlink {
        margin: 4% auto 4% auto;
    }
    .logo-container {
        align-content: center;
    }
    .logo {
        width: 100%;
    }
    .frame1 {
        height: auto;
    }
    .feature-imgs {
        flex-direction: column;
        margin-bottom: 10%;
    }
    .feature-imgs>img {
        margin: 5% auto;
        width: 60%;
    }
    .feature>h1 {
        font-size: 20px;
        line-height: 27px;
    }
    #lift {
        transform: translate(0, 0);
    }
    /* /frame1 */
    /* frame2 */
    .frame2 {
        height: fit-content;
        padding-top: 30px;
    }
    .about {
        margin: 0 auto;
        width: 80%;
    }
    .about>img {
        width: auto;
        height: auto;
    }
    .about>p {
        margin: 3% auto 0;
        width: 90%;
        line-height: 30px;
    }
    .social {
        display: flex;
        flex-direction: row;
        margin: 50px 0 0;
        height: fit-content;
        padding-bottom: 30px;
        width: 100%;
        font-size: 50px;
    }
    .social>a {
        margin: 15px 5px;
        width: 100%;
    }
    /* ==== artists page ====*/
    .artist-frame1 {
        height: 60%;
        margin-top: 300px;
        padding: 0 30px 0;
    }
    .artist-frame1>a {
        display: flex;
        flex-direction: column;
        height: 60%;
        margin: 0 0 0 0%;
        padding: 40px 30px 0;
        text-align: center;
    }
    .artist-imgs {
        width: inherit;
        transform: translate(-105px, 10px);
        margin: 0 0 0 0;
    }
    #sun {
        height: 138px;
        width: 98px;
    }
    #moon {
        height: 68.5px;
        width: 66px;
        transform: translate(-55px, -50px);
    }
    #mars {
        height: 23.5px;
        width: 22.5px;
        transform: translate(105px, -30px);
    }
    #jupiter {
        height: 35px;
        width: 33.5px;
        transform: translate(120px, 110px);
    }
    .caption {
        width: 100%;
        margin: 100px 0 0;
        margin-left: -50px;
    }
    .modal-content {
        flex-direction: row;
        height: 651px;
        margin: 25% 0 25% 0;
        padding: 50px 53px 0;
        align-content: center;
    }
    .modal-content>a {
        position: absolute;
        font-size: 30px;
        transform: translate(-30px, -30px);
    }
    .form {
        height: 100%;
        margin: .5rem 0 0 0;
        overflow: hidden;
    }
    .details {
        height: 400px;
        padding-top: 10px;
    }
    .details>h2 {
        transform: none;
        font-size: 150%;
    }
    .details>p {
        height: 400px;
        margin: -20px 0 0 0;
        transform: none;
        font-size: 65%;
        line-height: 15px;
        padding-bottom: 50px;
    }
    #thumb-container {
        transform: none;
    }
    /* /artist-frame1 */
    /* artist-frame2 */
    .artist-frame2 {
        padding: 0;
        width: 100%;
        height: 60%;
    }
    .container2 {
        padding-top: 0 !important;
        text-align: center;
        padding-bottom: 0px;
    }
    .container2>a {
        float: none;
        flex-direction: column-reverse !important;
        margin: 0;
        padding: auto 0 !important;
        width: 100%;
        height: 100%;
        text-align: center;
    }
    .artist-imgs2 {
        width: 100% !important;
        margin: 250px 0 100px !important;
        height: 17%;
        /* padding: 100px 10% auto 2px; */
        transform: translate(-108px, 0);
    }
    .caption2 {
        width: 100%;
        margin: 0 !important;
        height: fit-content !important;
        transform: translate(0px, 0);
    }
}


/* extra responsiveness fixes */

/* ===tablet to 1k=== */

@media (max-width:978px) and (min-width: 769px) {
    .social {
        display: block;
        width: 100%;
        float: none;
        margin: auto auto;
    }
    .social>a {
        margin-right: 50px;
    }
}

/* ===big mobile to tablet=== */

@media (max-width:768px) and (min-width: 500px) {
    .artist-imgs {
        padding-top: 20px;
    }
    .artist-imgs2 {
        width: 20%;
        height: 30%;
        float: none;
        padding-top: 20px;
    }
    #sun {
        height: 250px;
        width: 200px;
        transform: translate(0px, -200px);
    }
    #moon {
        height: 140px;
        width: 140px;
        transform: translate(-110px, -300px);
    }
    #mars {
        height: 50px;
        width: 50px;
        transform: translate(210px, -260px);
    }
    #jupiter {
        height: 70px;
        width: 70px;
        transform: translate(240px, -110px);
    }
}

/* ===large mobile and smaller=== */

@media only screen and (max-width: 500px) {
    .details>p {
        font-size: 60%;
    }
    .artist-frame1 {
        margin: 50px 0 0;
    }
    .artist-imgs {
        width: 100%;
        height: 30px;
        transform: translate(-50px, 0px);
    }
    .caption {
        margin-top: 180px;
        height: fit-content;
    }
    .artist-frame2 {
        padding-top: 100px;
        margin-bottom: 100px;
    }
    .container2>a {
        padding: 0 60px 0 !important;
    }
    .caption2 {
        margin-top: 200px;
    }
    .artist-imgs2 {
        width: 100%;
        height: 30px;
        transform: translate(-50px, 0);
        margin: 30px 0 200px !important;
    }
    #sun {
        height: 138px;
        width: 98px;
    }
    #moon {
        height: 68.5px;
        width: 66px;
        transform: translate(-55px, -50px);
    }
    #mars {
        height: 23.5px;
        width: 22.5px;
        transform: translate(105px, -30px);
    }
    #jupiter {
        height: 35px;
        width: 33.5px;
        transform: translate(120px, 110px);
    }
}

/* ===medium mobile and smaller=== */

@media only screen and (max-width: 425px) {
    .about>img {
        width: 250px;
        height: 25px;
    }
    .about>p {
        font-size: medium;
    }
    #thumb {
        width: 40px;
        height: 40px;
    }
    .modal-content {
        width: 100%;
        height: 600px;
    }
}

