/*

[FILE MAP]

Mobile Responsiveness
Small laptops and smaller
Tablets and smaller
Extra Responsiveness
tablet to 1k
big mobile to tablet
Large mobile and smaller
Medium mobile and smaller
*/


/* ======/mobile responsiveness====== */


/* ===less than 992px (small laptops)=== */

@media screen and (max-width: 992px) {
    .modal-content {
        height: 700px;
        margin: 20% 0 0 0;
        padding: 69px 73px 0;
        align-content: center;
    }
    .form {
        height: 100%;
        width: 100%;
        margin: .5rem 0 auto 0;
    }
    #product {
        width: 100%;
        padding-bottom: 80px;
        border-bottom: 1px solid gray;
        text-align: center;
    }
    #product>img {
        width: 60%;
        height: 100%;
        margin: 0 20%;
    }
    #product>#instruct {
        display: none;
    }
    #product>.order-mob {
        background-color: #001DB8;
        color: white;
        height: 30px;
        width: 100px;
        margin: 20px 35%;
        padding-top: 2px;
        border-radius: 12px;
    }
    .details {
        height: 100%;
        padding-top: 10px;
    }
    .details>h2 {
        transform: none;
        font-size: 150%;
    }
    .details>h3 {
        display: none;
    }
    .details>p {
        height: 340px;
        margin: -25px 0 0 0;
        transform: none;
        font-size: 60%;
        line-height: 17px;
    }
    #thumb-container {
        transform: none;
        padding-top: 20px;
    }
    #thumb {
        margin-bottom: 20px;
    }
    #options>ul {
        width: fit-content;
        margin: 0 auto !important;
    }
    #order-text {
        height: 5vh;
        top: 135%;
    }
}


/* ===tablets=== */

@media only screen and (max-width: 768px) {
    .head-container {
        height: fit-content;
        margin-bottom: 11vh;
    }
    nav {
        margin: 0 0 0;
        padding-top: 5%;
    }
    .nav1 {
        display: none;
    }
    .nav2 {
        top: 0;
        display: flex;
        /* padding-bottom: 20px */
    }
    .navlink {
        margin-left: auto;
        text-align: right;
        padding-bottom: 3vw;
    }
    .navbar-toggler{
        padding: .25rem 4vw !important;
    }
    .navbar-toggler>i{
        font-size: 5vw !important;
        float: right;
    }

    .navbar-nav{
        font-size: 5vw;
    }

    .logo-container {
        align-content: center;
    }
    .logo {
        width: 100%;
    }
    .frame1 {
        height: auto;
    }
    .feature {
        height: 0;
        overflow: hidden;
    }
    .feature-mobile {
        height: fit-content;
    }

    .porder-container{
        padding: 4vh 0 2vh;
        height: fit-content;

    }

    #porder-button{
        font-size: 3vw;
    }

    .feature-imgs {
        flex-direction: column;
        margin-bottom: 10%;
    }
    .feature-imgs>img {
        margin: 5% auto;
        width: 60%;
    }
    .feature>h1 {
        font-size: 20px;
        line-height: 27px;
    }
    #lift {
        transform: translate(0, 0);
    }
    /* /frame1 */
    /* frame2 */
    #about {
        transform: translate(0px, 3px)
    }
    .about-container {
        flex-direction: column;
        margin: 0 auto 50px;
        padding: 0 6vw;
    }
    #ad {
        text-align: center;
        margin-top: 50px;
        padding-right: 0;
    }
    #ad>h2 {
        font-size: 4.4vw;
    }
    #a-desc {
        text-align: justify;
        font-size: 2.5vw;
    }
    .external-about {
        /* margin-bottom: 40px; */
    }
    .external-about>h2 {
        font-size: 3.8vw;
    }
    #about-button {
        width: 40%;
        font-size: 4vw;
    }
    .social {
        /* margin-top: 50px; */
        font-size: 2rem;
    }
    /* .social>a {
        margin: 15px 30px;
        width: 100%;
    } */
    /* ====== artists page ======*/
    .artist-frame1 {
        height: 60%;
        margin-top: 300px;
        padding: 0 30px 0;
    }
    .artist-frame1>a {
        display: flex;
        flex-direction: column;
        height: 60%;
        margin: 0 0 0 0%;
        padding: 40px 30px 0;
        text-align: center;
    }
    .artist-imgs {
        width: inherit;
        transform: translate(-105px, 10px);
        margin: 0 0 0 0;
    }
    #sun {
        height: 138px;
        width: 98px;
    }
    #moon {
        height: 68.5px;
        width: 66px;
        transform: translate(-55px, -50px);
    }
    #mars {
        height: 23.5px;
        width: 22.5px;
        transform: translate(105px, -30px);
    }
    #jupiter {
        height: 35px;
        width: 33.5px;
        transform: translate(120px, 110px);
    }
    .caption {
        width: 100%;
        margin: 100px 0 0;
        margin-left: -50px;
    }
    .modal-content {
        flex-direction: row;
        height: 651px;
        margin: 25% 0 25% 0;
        padding: 50px 53px 0;
        align-content: center;
    }
    .modal-content>a {
        position: absolute;
        font-size: 30px;
        transform: translate(-30px, -30px);
    }
    .form {
        height: 100%;
        margin: .5rem 0 0 0;
        overflow: hidden;
    }
    .details {
        height: 400px;
        padding-top: 10px;
    }
    .details>h2 {
        transform: none;
        font-size: 150%;
    }
    .details>p {
        height: 400px;
        margin: -20px 0 0 0;
        transform: none;
        font-size: 65%;
        line-height: 15px;
        padding-bottom: 50px;
    }
    #thumb-container {
        transform: none;
    }
    /* /artist-frame1 */
    /* artist-frame2 */
    .artist-frame2 {
        padding: 0;
        width: 100%;
        height: 60%;
    }
    .container2 {
        padding-top: 0 !important;
        text-align: center;
        padding-bottom: 0px;
    }
    .container2>a {
        float: none;
        flex-direction: column-reverse !important;
        margin: 0;
        padding: auto 0 !important;
        width: 100%;
        height: 100%;
        text-align: center;
    }
    .artist-imgs2 {
        width: 100% !important;
        margin: 250px 0 100px !important;
        height: 17%;
        /* padding: 100px 10% auto 2px; */
        transform: translate(-108px, 0);
    }
    .caption2 {
        width: 100%;
        margin: 0 !important;
        height: fit-content !important;
        transform: translate(0px, 0);
    }
    /* artist-frame2 */
    /* ======shop====== */
    .heading{
        width: 90%;
        height: fit-content;
        margin: 0 auto;
        padding: 2vw;
        font-size: 6vw;
    }

    .heading>span{
        margin: 20px auto;
    }

    .shop-container {
        /* flex-direction: column; */
        display: none;
        background-color: white;
    }
    .shop-container-mobile{
        display:block;

        overflow: hidden;
        margin-bottom: 6vh;
    }

    .shop-container-mobile>div{
        display:block;
        width: 100%;
        margin: 0 auto;
    }

    .shop-container>a>img {
        width: 60vw;
    }
    .shop-container>a {
        margin: 100px auto;
        text-align: center;
    }
    .heading {
        text-align: center;
    }

    .scrollspy-example{

        height: fit-content;
        overflow-x: scroll;
        display: flex !important;
        flex-direction: row;
        z-index: 3;
    }

    #scrollspy-container{
        margin:0 15vw;
        width: fit-content;
        height: fit-content;
        /* z-index: 3; */
    }

    #scrollspy-container>a>img{
        width: auto;
        height: 65vw;
    }

    #prod-img:hover {
        opacity: 1;
    }

    #prod-name>h3{
        font-size: 5vw;
    }

    #order-button {
        /* width: fit-; */
    }
    #order-box {
        margin-top: 18vh;
        margin-bottom: 26vh;
    }

    #modal-exit-button{
        font-size: 2vw;
    }

    .product-element-title{
        padding: 6vh 0 2vh;
    }

    .product-element-container1{
        flex-direction: column;
    }

    .product-element-assets{
        width: 100%;
        margin: 0 0 8vh;
    }

    #carousel-controls-inner{
        margin: auto 25px;
    }

    .product-element-order-mobile{
        width: 100% !important;
        /* height: 49vw; */
        overflow: hidden;
        padding: 0 20vw;
        margin-top: -3.5vh;
        /* border: 5px solid black; */
    }

    .product-element-order-button-mobile{
        text-align: center;
        width: 100%;
        padding: 2vh !important;
        background-color: black !important;
        font-size: 4vw !important;
        color: white !important;
    }




/* ======/shop====== */

/* ====== collection ======*/

.collections-container{
    display: flex;
    flex-direction: column;
    padding: 5em 3em;
}

.collection-cover{
    height: fit-content;
}

.title-text{
    font-size: 5.5vw;
}


/* ====== /collection ======*/

}






/* extra responsiveness fixes */


/* ===tablet to 1k=== */

@media (max-width:1440px) and (min-width: 768px) {
    #feature {
        /* margin-top: 10vh; */
    }
    #order-text {
        height: 5vh;
        top: 155% !important;
        background-color: #001DB8 !important;
    }
}

@media (max-width:978px) and (min-width: 768px) {
    .logo>img {
        width: 250px;
    }
    .logo-container>h2 {
        font-size: 28px;
        margin-bottom: -3.6vh;
        transform: translate(0, 120px);
    }
    /* .social {
        display: block;
        width: 100%;
        float: none;
        margin: auto auto;
    } */
    /* .social>a {
        margin-right: 50px;
    } */

}


/* ===big mobile to tablet=== */

@media (max-width:768px) and (min-width: 500px) {
    /* ======landing====== */
    .logo-container {
        margin-top: 5vh;
    }
    .logo-container>h2 {
        font-size: 24px;
    }
    #feature {
        /* margin-top: 20vh; */
    }
    /* ======/landing====== */
    /* ======/artists====== */
    .artist-imgs {
        padding-top: 20px;
    }
    .artist-imgs2 {
        width: 20%;
        height: 30%;
        float: none;
        padding-top: 20px;
    }
    #sun {
        height: 250px;
        width: 200px;
        transform: translate(0px, -200px);
    }
    #moon {
        height: 140px;
        width: 140px;
        transform: translate(-110px, -300px);
    }
    #mars {
        height: 50px;
        width: 50px;
        transform: translate(210px, -260px);
    }
    #jupiter {
        height: 70px;
        width: 70px;
        transform: translate(240px, -110px);
    }
}

@media only screen and (max-width: 695px) {
    #about-heading {
        font-size: 35px;
    }
}

@media only screen and (max-width: 531px) {
    #about-heading {
        font-size: 30px;
    }
}


/* ===large mobile and smaller=== */

@media only screen and (max-width: 500px) {


    .navbar-toggler{
        padding: .25rem 4vw !important;
    }
    .navbar-toggler>i{
        font-size: 10vw !important;
        float: right;
    }
    .navbar-nav{
        font-size: 7vw;
    }

     /* ======/landing====== */

    .logo>img {
        width: 200px;
    }
    .logo-container {
        margin-top: 5vh;
    }
    .logo-container>h2 {
        font-size: 20px;
        margin-bottom: -3.8vh;
        transform: translate(0, 100px);
    }
    #feature {
        /* margin-top: 16vh; */
    }
    /* frame2 */
    #ad>h2 {
        font-size: 6.4vw;
    }
    #a-desc {
        padding: 20px;
        text-align: center;
        font-size: 3vw;
    }

    #porder-button{
        font-size: 5vw;
    }

    .external-about>h2 {
        font-size: 4.8vw;
    }
    #about-button {
        font-size: 5vw;
        width: 50%;
    }
    .social {
        /* margin-top: 50px; */
        font-size: 2rem;
    }

    /* ======/landing====== */

    /* ====== artists====== */
    .details>p {
        font-size: 60%;
    }
    .artist-frame1 {
        margin: 50px 0 0;
    }
    .artist-imgs {
        width: 100%;
        height: 30px;
        transform: translate(-50px, 0px);
    }
    .caption {
        margin-top: 180px;
        height: fit-content;
    }
    .artist-frame2 {
        padding-top: 100px;
        margin-bottom: 100px;
    }
    .container2>a {
        padding: 0 60px 0 !important;
    }
    .caption2 {
        margin-top: 200px;
    }
    .artist-imgs2 {
        width: 100%;
        height: 30px;
        transform: translate(-50px, 0);
        margin: 30px 0 200px !important;
    }
    #sun {
        height: 138px;
        width: 98px;
    }
    #moon {
        height: 68.5px;
        width: 66px;
        transform: translate(-55px, -50px);
    }
    #mars {
        height: 23.5px;
        width: 22.5px;
        transform: translate(105px, -30px);
    }
    #jupiter {
        height: 35px;
        width: 33.5px;
        transform: translate(120px, 110px);
    }

    /* ======/artists====== */

    /* ======shop====== */

    .heading{
        font-size: 7vw;
    }

    #scrollspy-container {
        margin: 0;
        padding: 0 !important;
    }
    #scrollspy-container>a>img {
        width: auto;
        height: 98vw;
    }

    #modal-exit-button{
        font-size: 4vw;
    }

    #carousel-controls-inner{
        margin: auto 15px;
    }

    #prod-name>h3{
        font-size: 7vw;
    }

    /* ======/shop====== */

    /* ======collection====== */

    .collections-container{
        padding: 5em 1em;
    }
    .collection-specific-description{

    }

    .title-text{
        font-size: 7.5vw;
        text-align: center;
    }

    .collection-specific-artists{

        padding: 0 4vw 8vw;

    }

    .collection-specific-designs{

        padding: 0 4vw 4vw;

    }

    /* ======/collection====== */


}


/* ===medium mobile and smaller=== */

@media only screen and (max-width: 425px) {
    #ad>h2 {
        font-size: 7.4vw;
    }
    #a-desc {
        font-size: 4vw;
    }
    .external-about>h2 {
        font-size: 5.8vw;
    }
    #about-button {
        font-size: 5vw;
        width: 50%;
    }
    #thumb {
        width: 40px;
        height: 40px;
    }
    .modal-content {
        width: 100%;
        height: 600px;
    }
    #ot-mobile {
        z-index: 2;
        width: 100%;
        top: 138%;
    }
}