        * {
            font-style: Roboto;
        }
        
        nav {
            margin: 44px 5.5% 164px;
        }
        
        .nav1 {
            display: inline;
            padding-top: 5%;
        }
        
        .nav2 {
            display: none;
        }
        
        .navlink {
            margin: 8px 5.4% 44px 0;
            width: 30px;
            padding-left: none !important;
            font-style: Roboto;
            font-weight: normal;
            line-height: 16px;
            color: black;
            padding-bottom: 10px;
            border-bottom: 4.5px solid white;
        }
        
        #navlink1 {
            width: 40px;
        }
        
        #navlink2 {
            width: 45px;
        }
        
        #navlink3 {
            width: 75px;
        }
        
        .navlink:hover {
            color: black;
            text-decoration: none;
            color: #001DB8;
        }
        
        .head-container {
            position: sticky;
            height: 100px;
            padding-top: 30px;
        }
        /* ===landing=== */
        /* logo */
        
        .logo-container {
            position: relative;
            z-index: 1;
            width: 100%;
            text-align: center;
            padding-top: 50px;
            padding-bottom: 2%;
        }
        
        .logo-container>h1 {
            position: absolute;
            top: 45%;
            width: 100%;
            align-content: center;
            font-size: 190%;
            z-index: -1;
        }
        
        .logo {
            display: flex;
            z-index: 1;
            flex-direction: column;
            width: 60%;
            height: auto;
            margin: 0 auto 17px auto;
            text-align: center;
            background-color: white;
        }
        
        .logo:active {
            visibility: hidden;
        }
        
        .logo>img {
            margin: 0 auto 17px auto;
            width: 30%;
            height: auto;
        }
        
        .soc-container {
            width: 100%;
            z-index: 1;
            margin: 25px auto 0;
            text-align: center;
        }
        /* /logo */
        /* frame1 */
        
        .frame1 {
            /* position: relative;
    z-index: -1; */
            width: 100%;
            height: 50%;
            padding-top: 35px;
            text-align: center;
        }
        
        .feature>h1 {
            margin-bottom: 65px;
            font-style: Roboto;
            font-weight: normal;
            font-size: 30px;
            line-height: 37px;
            color: #001DB8;
        }
        
        .feature-imgs {
            display: flex;
            flex-direction: row;
        }
        
        .feature-imgs>img {
            margin: 0 auto;
            width: 15%;
        }
        
        #lift {
            transform: translate(0, -15%);
        }
        /* /frame1 */
        /* frame2 */
        
        .frame2 {
            /* position: relative;
    z-index: -1; */
            height: 50%;
            width: 100%;
            padding-top: 5%;
            text-align: center;
            background-color: black;
            margin-top: 15%;
            overflow: hidden;
        }
        
        .about {
            display: flex;
            flex-direction: column;
            margin: 5% auto;
            width: 60%;
            color: white;
        }
        
        .about>img {
            width: 310px;
            height: 32px;
            margin: 50px auto;
        }
        
        .about>p {
            margin-top: 3%;
            text-align: left;
            /* font-family: Montserrat; */
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 50px;
            text-align: justify;
            text-justify: inter-word;
        }
        
        .social {
            position: relative;
            float: right;
            display: flex;
            flex-direction: row;
            margin: 0 200px 0 0;
            width: 50px;
            font-size: 40px;
        }
        
        .social>a {
            margin: 25px 15px;
            color: white;
        }
        /* /frame2 */
        /* ===/landing=== */
        /* ===artists=== */
        /* artist-frame1 */
        
        .artist-frame1 {
            width: 100%;
            height: 600px;
            padding: 0 8% 0px;
            overflow: hidden;
        }
        
        .artist-frame1>a {
            display: flex;
            flex-direction: row;
            float: left;
            width: 100%;
            height: 500px;
            margin: 0 0 0 0%;
            padding-top: 60px;
            text-decoration: none;
        }
        
        .artist-imgs {
            width: 300px;
            height: 27.6%;
            /* padding: 100px 10% auto 2px; */
            margin: auto 150px auto 193px;
        }
        
        .caption {
            width: 500px;
        }
        
        #sun {
            position: absolute;
            height: 250px;
            width: 200px;
            border-radius: 0px;
            overflow: hidden;
        }
        
        #moon {
            position: absolute;
            height: 140px;
            width: 140px;
            transform: translate(-110px, -100px);
            border-radius: 0px;
        }
        
        #mars {
            position: absolute;
            height: 50px;
            width: 50px;
            transform: translate(210px, -60px);
            border-radius: 0px;
        }
        
        #jupiter {
            position: absolute;
            height: 70px;
            width: 70px;
            transform: translate(240px, 110px);
            border-radius: 0px;
        }
        
        .caption {
            margin: 140px 0 auto;
            color: black;
            transform: translate(50px, 0);
        }
        
        .caption>p {
            padding-top: 10px;
            color: black;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 15px;
        }
        
        .modal-content {
            display: flex;
            flex-direction: row;
            height: 651px;
            margin: 135px auto auto;
            padding: 72px 79px 0;
        }
        
        .form {
            display: flex;
            flex-direction: column;
            position: relative;
            height: 461px;
            width: 100%;
            margin: .5rem 5% auto 0;
            overflow: hidden;
        }
        
        .form>h4 {
            height: 0;
        }
        
        #product>img {
            width: 300px;
            height: 575px;
        }
        
        .details {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 461px;
            margin: 0 0 0 0;
            padding-top: 30px;
        }
        
        .details>h2 {
            transform: translate(330px, -600px);
        }
        
        .details>p {
            height: 80%;
            transform: translate(330px, -600px);
            margin: 0 60% 0 0;
        }
        
        #thumb-container {
            margin: 0 -10px 0 0;
            transform: translate(330px, -100px);
        }
        
        #thumb {
            width: 50px;
            height: 50px;
        }
        /* /artist-frame1 */
        /* artist-frame2 */
        
        .artist-frame2 {
            width: 100%;
            height: 450px;
            overflow: hidden;
        }
        
        .artist-frame2>a {
            display: flex;
            float: right;
            flex-direction: row;
            width: 100%;
            height: 500px;
            margin: 0 0 0 0;
            color: black;
            overflow: hidden;
            text-decoration: none;
        }
        
        .artist-frame2>.container2 {
            display: inline-block;
            width: 100%;
            height: fit-content;
            margin: 0% 0% 0% 0%;
            padding-top: 70px;
            /* padding-left: 20%; */
            color: #001DB8;
            overflow: visible;
            text-align: right;
        }
        
        .container2>a {
            float: right;
            display: flex;
            flex-direction: row;
            width: 70%;
            height: fit-content;
            margin-right: 200px;
            padding-top: 80px;
        }
        
        .caption2 {
            width: 500px;
            color: black;
            float: left;
            margin: 0 50px 0;
            transform: translate(100px, 0px);
        }
        
        .caption2>p {
            padding-top: 10px;
            color: black;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 15px;
        }
        
        .artist-imgs2 {
            width: 30%;
            height: 50px;
            float: right;
            /* padding: 100px 10% auto 2px; */
            /* margin: 120% -800% 15% 0%; */
        }
        /* /artist-frame2 */
        /* ===/mobile responsiveness=== */
        
        @media only screen and (max-width: 767px) {
            .head-container {
                height: fit-content;
            }
            nav {
                /*margin: 44px 5.5% 164px;*/
                margin: 0 0 0;
                padding-top: 5%;
            }
            .nav1 {
                display: none;
            }
            .nav2 {
                display: flex;
                padding-top: 20px;
                padding-bottom: 20px
            }
            .navlink {
                margin: 4% auto 4% auto;
                width: 30px;
                padding-left: none !important;
                font-style: Roboto;
                font-weight: normal;
                line-height: 16px;
                color: black;
                padding-bottom: 10px;
                border-bottom: 4.5px solid white;
                ;
            }
            .logo-container {
                position: relative;
                z-index: 1;
                width: 100%;
                align-content: center;
            }
            .logo-container>h1 {}
            .frame1 {
                /* position: relative;
        z-index: -1; */
                width: 100%;
                height: auto;
                padding-top: 35px;
                text-align: center;
            }
            .logo {
                display: flex;
                z-index: 1;
                flex-direction: column;
                width: 100%;
                height: auto;
                margin: 0 auto 17px auto;
                text-align: center;
                background-color: white;
            }
            .logo.img {
                margin: 0 auto 17px auto;
                width: 100%;
                height: auto;
            }
            .frame1 {
                /* position: relative;
        z-index: -1; */
                width: 100%;
                height: auto;
                padding-top: 35px;
                text-align: center;
            }
            .feature-imgs {
                display: flex;
                flex-direction: column;
                margin-bottom: 10%;
            }
            .feature-imgs>img {
                margin: 5% auto;
                width: 60%;
            }
            .feature>h1 {
                margin-bottom: 65px;
                font-style: Roboto;
                font-weight: normal;
                font-size: 20px;
                line-height: 27px;
                color: #001DB8;
            }
            #lift {
                transform: translate(0, 0);
            }
            /* /frame1 */
            /* frame2 */
            .frame2 {
                /* position: relative;
        z-index: -1; */
                width: 100%;
                height: fit-content;
                padding-top: 30px;
                text-align: center;
                background-color: black;
                margin-top: 15%;
            }
            .about {
                display: flex;
                flex-direction: column;
                width: 100%;
                margin: 0 auto;
                width: 80%;
                color: white;
            }
            .about>img {
                width: auto;
                height: auto;
                margin: 50px auto;
            }
            .about>p {
                margin: 3% auto 0;
                text-align: left;
                width: 90%;
                font-style: normal;
                font-weight: normal;
                font-size: 20px;
                line-height: 30px;
                text-align: justify;
                text-justify: inter-word;
            }
            .social {
                display: flex;
                flex-direction: row;
                margin: 50px 0 0;
                height: fit-content;
                padding-bottom: 30px;
                width: 100%;
                font-size: 50px;
            }
            .social>a {
                margin: 15px 5px;
                width: 100%;
                color: white;
            }
            /* ==== artists page ====*/
            .artist-frame1 {
                width: 100%;
                height: 60%;
            }
            .artist-frame1>a {
                display: flex;
                flex-direction: row;
                float: left;
                width: 100%;
                height: 60%;
                margin: 0 0 0 10%;
                padding-top: 40px;
                text-decoration: none;
            }
            .artist-imgs {
                width: 9.8%;
                height: 13.8%;
                /* padding: 100px 10% auto 2px; */
                margin: auto 0 auto 80px;
            }
            #sun {
                position: absolute;
                height: 138px;
                width: 98px;
                border-radius: 0px;
            }
            #moon {
                position: absolute;
                height: 68.5px;
                width: 66px;
                transform: translate(-55px, -50px);
                border-radius: 0px;
            }
            #mars {
                position: absolute;
                height: 23.5px;
                width: 22.5px;
                transform: translate(105px, -30px);
                border-radius: 0px;
            }
            #jupiter {
                position: absolute;
                height: 35px;
                width: 33.5px;
                transform: translate(120px, 110px);
                border-radius: 0px;
            }
            .caption {
                margin: 400px -120px auto;
                color: black;
            }
            .caption>p {
                padding-top: 10px;
                color: black;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 15px;
            }
            .modal-content {
                display: flex;
                flex-direction: row;
                height: 50%;
                width: 100%;
                margin: 20% 0 0 0;
                padding: 72px 79px 0;
            }
            .form {
                display: flex;
                flex-direction: column;
                position: relative;
                height: 30%;
                width: 40%;
                margin: .5rem 0 auto 0;
                overflow: hidden;
            }
            .form>h4 {
                height: 0;
            }
            #product {
                width: 50%;
            }
            #product>img {
                width: 50%;
                height: 50%;
            }
            .details {
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 40%;
                margin: 0 0 0 0;
                padding-top: 30px;
            }
            .details>h2 {
                transform: translate(330px, -600px);
            }
            .details>p {
                height: 80%;
                transform: translate(330px, -600px);
                margin: 0 60% 0 0;
            }
            #thumb-container {
                margin: 0 -10px 0 0;
                transform: translate(330px, -100px);
            }
            #thumb {
                width: 50px;
                height: 50px;
            }
            /* /artist-frame1 */
            /* artist-frame2 */
            .artist-frame2 {
                width: 100%;
                height: 500px;
            }
            .artist-frame2>a {
                display: flex;
                flex-direction: row;
                float: left;
                width: 800px;
                height: 500px;
                margin: 0 0 0 10%;
                padding-top: 60px;
                text-decoration: none;
            }
            .artist-imgs2 {
                width: 19.6%;
                height: 27.6%;
                /* padding: 100px 10% auto 2px; */
                margin: 85% 10% 15% 70%;
            }
            .artist-frame2>.container2 {
                position: relative;
                display: flex;
                float: left;
                flex-direction: row;
                width: 800px;
                height: 500px;
                margin: 30% 0% 0% 40%;
                padding-top: 50px;
                color: #001DB8;
                overflow: visible;
            }
            .caption2 {
                margin: 0 0 0 0;
                transform: translate(20%, 70%);
                color: black;
            }
            .caption2>p {
                padding-top: 10px;
                color: black;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 15px;
            }
        }
        /* extra responsiveness fixes */
        
        @media (max-width:978px) and (min-width: 768px) {
            .social {
                display: block;
                width: 100%;
                float: none;
                margin: auto auto;
            }
            .social>a {
                margin-right: 50px;
            }
        }
        
        @media only screen and (max-width: 1000px) {
            /* .logo-container>h1 {
        position: absolute;
        margin: -170px 38% 0 38%;
        text-align: center;
        z-index: -1;
    } */
            .modal-content {
                display: flex;
                flex-direction: row;
                height: 50%;
                margin: 20% 0 0 0;
                padding: 72px 79px 0;
            }
            .form {
                display: flex;
                flex-direction: column;
                position: relative;
                height: 60%;
                width: 100%;
                margin: .5rem 0 auto 0;
                overflow: hidden;
            }
            .form>h4 {
                height: 0;
            }
            #product>img {
                width: 30%;
                height: 50%;
            }
            .details {
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 40%;
                margin: 0 0 0 0;
                padding-top: 30px;
            }
            .details>h2 {
                transform: translate(330px, -600px);
            }
            .details>p {
                height: 80%;
                transform: translate(330px, -600px);
                margin: 0 60% 0 0;
            }
            #thumb-container {
                margin: 0 -10px 0 0;
                transform: translate(330px, -100px);
            }
            #thumb {
                width: 50px;
                height: 50px;
            }
        }
        
        @media only screen and (max-width: 424px) {
            .frame2 {}
            .about {}
            .about>img {
                width: 250px;
                height: 25px;
            }
            .about>p {
                font-size: medium;
            }
            .social {}
            .social>a {}
        }
        /* ARTISTS.HTML AND LANDING.HTML <div class="head-container" style="margin-top: 50px;"> */