* {
    font-style: Roboto;
}


/* 

[FILE MAP]

Navbar 22
Landing Page 79
    Logo 82
    Frame 1 134
    Frame 2 170
Artists Page 229
    Artist 1 232
    Modal Content 308
    Artist 2 414
Shop Page 489

*/


/* ======nav====== */

nav {
    margin: 44px 5.5% 164px;
}

.nav1 {
    display: inline;
    padding-top: 5%;
}

.nav2 {
    display: none;
}

.navlink {
    margin: 8px 5.4% 44px 0;
    width: 30px;
    padding-left: none !important;
    font-style: Roboto;
    font-weight: normal;
    line-height: 16px;
    color: black;
    padding-bottom: 10px;
    border-bottom: 4.5px solid white;
}

#navlink1 {
    width: 40px;
}

#navlink2 {
    width: 45px;
}

#navlink3 {
    width: 75px;
}

.navlink:hover {
    color: black;
    text-decoration: none;
    color: #411CD6;
}

.head-container {
    position: sticky;
    height: 100px;
    padding-top: 30px;
}


/* ======/nav====== */


/* ======landing====== */


/* logo */

.logo-container {
    position: relative;
    z-index: 1;
    width: 100%;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 2%;
}

.logo-container>h1 {
    position: absolute;
    top: 45%;
    width: 100%;
    align-content: center;
    font-size: 190%;
    z-index: -1;
}

.logo {
    display: flex;
    z-index: 1;
    flex-direction: column;
    width: 60%;
    height: auto;
    margin: 0 auto 17px auto;
    text-align: center;
    background-color: white;
}

.logo:active {
    visibility: hidden;
}

.logo>img {
    margin: 0 auto 17px auto;
    width: 30%;
    height: auto;
}

.soc-container {
    width: 100%;
    z-index: 1;
    margin: 25px auto 0;
    text-align: center;
}


/* /logo */


/* frame1 */

.frame1 {
    width: 100%;
    height: 50%;
    padding-top: 35px;
    text-align: center;
}

.feature>h1 {
    margin-bottom: 65px;
    font-style: Roboto;
    font-weight: normal;
    font-size: 30px;
    line-height: 37px;
    color: #411CD6;
}

.feature-imgs {
    display: flex;
    flex-direction: row;
}

.feature-imgs>img {
    margin: 0 auto;
    width: 15%;
}

#lift {
    transform: translate(0, -15%);
}


/* /frame1 */


/* frame2 */

.frame2 {
    height: 50%;
    width: 100%;
    padding-top: 5%;
    text-align: center;
    background-color: black;
    margin-top: 15%;
    overflow: hidden;
}

.about {
    display: flex;
    flex-direction: column;
    margin: 5% auto;
    width: 60%;
    color: white;
}

.about>img {
    width: 310px;
    height: 32px;
    margin: 50px auto;
}

.about>p {
    margin-top: 3%;
    text-align: left;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 50px;
    text-align: justify;
    text-justify: inter-word;
}

.social {
    position: relative;
    float: right;
    display: flex;
    flex-direction: row;
    margin: 0 200px 0 0;
    width: 50px;
    font-size: 40px;
}

.social>a {
    margin: 25px 15px;
    color: white;
}


/* /frame2 */


/* ======/landing====== */


/* ======artists====== */


/* artist-frame1 */

.artist-frame1 {
    width: 100%;
    height: 600px;
    padding: 0 8% 0px 7%;
}

.artist-frame1>a {
    display: flex;
    flex-direction: row;
    float: left;
    width: 100%;
    height: 500px;
    margin: 0 0 0 0%;
    padding-top: 60px;
    text-decoration: none;
}

.artist-imgs {
    width: 300px;
    height: 27.6%;
    margin: auto 150px auto 193px;
}

.caption {
    width: 500px;
    height: 260px;
    margin: 140px 0 auto;
    color: black;
    transform: translate(50px, 0);
    overflow: hidden;
}

#sun {
    position: absolute;
    height: 250px;
    width: 200px;
    border-radius: 0px;
    overflow: hidden;
}

#moon {
    position: absolute;
    height: 140px;
    width: 140px;
    transform: translate(-110px, -100px);
    border-radius: 0px;
}

#mars {
    position: absolute;
    height: 50px;
    width: 50px;
    transform: translate(210px, -60px);
    border-radius: 0px;
}

#jupiter {
    position: absolute;
    height: 70px;
    width: 70px;
    transform: translate(240px, 110px);
    border-radius: 0px;
}

.caption>p {
    padding-top: 10px;
    color: black;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
}


/* modal */

.modal-content {
    display: flex;
    flex-direction: row;
    height: 651px;
    margin: 135px auto auto;
    padding: 72px 79px 0;
}

.modal-content>a {
    position: absolute;
    font-size: 30px;
    transform: translate(-50px, -50px);
}

.modal-content>h3 {
    color: red;
    font-size: 10px;
}

.form {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 461px;
    width: 100%;
    margin: .5rem 5% auto 0;
    overflow: hidden;
}

.form>h4 {
    height: 0;
}

#product {
    width: 300px;
}

#product>img {
    width: 300px;
    height: 575px;
}

#product>div {
    position: absolute;
    width: 300px;
    height: 575px;
}

#product>div:hover {
    visibility: visible;
}

#product>div>h3 {
    color: white;
    height: 575px;
    padding: 215px 30px 0;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
}

#product>div>h3:hover {
    opacity: unset;
}

.details {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 461px;
    padding-top: 30px;
}

.details>h2 {
    transform: translate(330px, -610px);
}

.details>h3 {
    transform: translate(330px, -630px);
    font-size: 10px;
    color: red;
}

.details>p {
    height: 80%;
    transform: translate(330px, -620px);
    margin: 0 52% 0 0;
    font-size: 90%;
    text-align: justify;
}

#thumb-container {
    margin: 0 -10px 0 0;
    transform: translate(330px, -100px);
}

#thumb {
    width: 50px;
    height: 50px;
}


/* /artist-frame1 */


/* artist-frame2 */

.artist-frame2 {
    width: 100%;
    height: 450px;
    padding: 0 10% 0px 2%;
    overflow: hidden;
}

.artist-frame2>a {
    display: flex;
    float: right;
    flex-direction: row;
    width: 100%;
    height: 500px;
    margin: 0 0 0 0;
    color: black;
    overflow: hidden;
    text-decoration: none;
}

.artist-frame2>.container2 {
    display: inline-block;
    width: 100%;
    height: fit-content;
    margin: 0% 0% 0% 0%;
    padding-top: 70px;
    color: #411CD6;
    overflow: visible;
    text-align: right;
}

.container2>a {
    float: right;
    display: flex;
    flex-direction: row;
    width: 70%;
    height: fit-content;
    margin: 0 300px;
    padding: 80px 60px 0;
}

.caption2 {
    width: 500px;
    height: 260px;
    color: black;
    float: left;
    margin: 0 50px 0;
    transform: translate(50px, 0px);
    overflow: hidden;
}

.caption2>p {
    padding-top: 10px;
    color: black;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
}

.artist-imgs2 {
    width: 300px;
    height: 50px;
    float: right;
    margin-left: 30px;
}


/* /artist-frame2 */


/* ======/artists====== */


/* ======shop====== */

.heading {
    width: 90%;
    background-color: #411CD6;
    color: white;
    padding: 6px 12px 6px;
    margin: 36px auto 0;
}

.shop-container {
    display: flex;
    flex-direction: row;
    width: 90%;
    height: auto;
    margin: 0 auto 0;
    /* overflow: hidden; */
    background-color: white;
}

.shop-container>a {
    text-align: center;
}

.shop-container>a>img {
    position: relative;
    z-index: 0;
    height: auto;
    width: 30vw;
}

.shop-container>a>img:hover {
    opacity: 0.6;
}

#order {
    font-size: 1.5vw;
    position: absolute;
    z-index: 1;
    width: 30%;
    /* height: auto; */
    /* margin: auto auto; */
    color: #411CD6;
    text-align: center;
}


/* ======/shop====== */